.todo-list {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  .todo-list th, .todo-list td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .todo-list th {
    background-color: #f4f4f4;
  }
  
  .todo-list th:nth-child(3), .todo-list td:nth-child(3) {
    width: 120px; /* Ajuste a largura conforme necessário */
  }
  
  .edit-input {
    width: 100%;
    box-sizing: border-box;
  }
  
  .task-name, .edit-input {
    display: inline-block;
    width: 100%;
  }
  
  .edit-button {
    width: 100%;
    box-sizing: border-box;
  }
  
  button, select {
    cursor: pointer;
  }
  
  select {
    width: 100%;
    box-sizing: border-box;
  }

  .completed-task {
    background-color: #d3ffd3; /* Verde claro para indicar conclusão */
  }
  
  .in-progress-task {
    background-color: #ffffcc; /* Amarelo claro para indicar em progresso */
  }
  